
.ng-invalid:not(form) {
    border-left: 5px solid red;
}

.ng-valid:not(form) {
    border-left: 5px solid green;
}

.content-wrapper {
    background-image: url('/assets/img/bg8.png');
    background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
}

.login-page {
    background-image: url('/assets/img/bg3.jpg');
    background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
}

.main-header {
    border: none;
}

.main-footer{
    background-color: #343a40;
    color: #fff;
    border: none;
}

.content-header{
    color: rgba(255,255,255,.75);
}